*{
  margin: 0;
  padding: 0;
}

.profile{
  height: 120px;
  width: 120px;
  border:2px solid #98bf92;
  margin-top: 20px;
  background-color: #98bf92;
  background-image: url(profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
}
.profile-dark{
  height: 120px;
  width: 120px;
  border:2px solid #20303c;
  margin-top: 20px;
  background-color: #20303c;
  background-image: url(profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.name{
  font-size: 3rem;
}

.details{
  font-size: 0.8rem;
}
.list-group-items{
  width: 90vw;
  background-color:#98bf92;
  padding:2vh 0;
 }
 .icon{
   color: #5b9652;
   font-size: 2rem;
 }
 .icon-dark{
     color:#559ffd ;
     font-size: 2rem;
 }
 .icon:hover{
   color: #3f7338;
 }
 
 .cursive-font{
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}
.courier-font{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* darkmode css */
body{
    transition: .4s;
}
.input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color:white;
  border-radius: 20px;
  cursor: pointer;
}

.circle {
  width: 15px;
  background-color: #5b9652;
  height: 15px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
  background-color: #559ffd;
}

.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color:#15202b;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
